{
  "extends": "airbnb",
  "env": {
    "node": true,
    "mocha": true,
  },
   "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "script",
      "impliedStrict": false
  },
  "rules": {
    "valid-jsdoc": ["error", { "requireReturn": false }],
    "strict": ["error", "global"],
    "consistent-return": "off",
    "max-len": ["error", {
      "code": 80,
      "ignoreStrings": true,
      "ignoreTemplateLiterals": true
    }],
    "semi": ["error"],
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": "off",
    "no-case-declarations": "off",
    "no-unused-expressions": "off",
    "no-param-reassign": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "default-case": "off",
    "no-plusplus": "off",
    "arrow-body-style": "off",
    "arrow-parens": ["error", "always"],
    "no-mixed-operators" : ["error", { "allowSamePrecedence": true }],
    "no-console": "off",
    "import/no-dynamic-require": "off",
    "import/newline-after-import": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
  },
  "globals": {
    "__appRoot": false
  }
}
